html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Chat
    link(href='css/materialize.min.css', rel='stylesheet')
    link(href='css/chat.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    .navbar-fixed
      nav.grey.lighten-4(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo.black-text= name
          ul#nav-mobile.side-nav
          a.button-collapse(href='#', data-activates='nav-mobile').right
            i.fa.fa-bars(aria-hidden='true').black-text
    .aside-right.hide-on-med-and-down.grey.lighten-4
      ul.center.collection.users
    .page-wrapper
      .row
        .col.s12
          ul.messages
      .chat-area.center
        p.writing
        form.col.s12(action = "").formulaire
          .row
            .input-field.col.l10.m9.s11
              input#first_name(type='text')
              label(for='first_name') Message
            .input-field.col.l2.m3.s12.hide-on-small-only
              button(type="submit").waves-effect.waves-light.btn Send
                i.fa.fa-paper-plane.right(aria-hidden='true')
  script(src='js/jquery.min.js')
  script(src='js/materialize.min.js')
  script(src="/socket.io/socket.io.js")
  script.
    var name = "!{name}";
    var jwt = "!{jwt}";
  script(src="js/transmitter.js")