doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Chat | Login
    link(href='css/materialize.min.css', rel='stylesheet')
    link(href='css/login.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .row.form
        .center
          h4 Please Login
        form(action="/" method="post").col.s12
          h5= error
          .input-field.col.s12
            input(type = "text" name="username")#username
            label(for='username') Username
          .input-field.col.s12
            input(type = "password", name="password")#pass
            label(for = 'pass') Password
          .center
            button(type="submit").waves-effect.waves-light.btn Login
    script(src='js/jquery.min.js')
    script(src='js/materialize.min.js')
