html
{
  height: 100%;
  width: 100%;
}
.aside-right{
  z-index: 1000;
  position: fixed;
  width: 250px;
  right: 0;
  height: 95%;
  margin-bottom: 20px;
  overflow: auto;
}
.page-wrapper
{
  margin-right: 250px;
  max-height: 100%;
}
.chatarea{
  position: fixed;
  bottom: 0;
  left: 20px;
  width: 80%;
}
.messages{
  margin-bottom: 70px;
  padding: 0;
  overflow: auto;
}
